/* .react-multi-carousel-track {
    display: flex !important ;
    justify-content: center !important;
    align-items: center !important;
} */

.slick-track {
    display: flex !important ;
    justify-content: center !important;
    align-items: center !important;
}